h1 {
    color:black;
    font-size: 55px;
    fonth1-family: "serif", "sans-serif", "cursive", "fantasy", "monospace";
  }

  h2 {
    color:black;
    font-size: 30px;
    fonth1-family: "serif", "sans-serif", "cursive", "fantasy", "monospace";
  }

  h3 {
    color:black;
    font-size: 22px;
    fonth1-family: 'courier', 'arial', 'helvetica';
  }

  p1 {
    color:black;
    font-size: 18px;
    fonth1-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p2 {
    color:black;
    font-size: 18px;
    fonth1-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p3 {
    color:black;
    font-size: 18px;
    fonth1-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p4 {
    color:black;
    font-size: 18px;
    fonth1-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p5 {
    color:black;
    font-size: 18px;
    fonth1-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }